@font-face {
  font-family: Title;
  src: url(../resources/font/ANODETONOONE.TTF);
}

body {
  background-image: url("/resources/imgs/fundo.jpg");
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: Title;
  font-size: 40px;
  color: #603a03;
}

h2 {
  font-family: Title;
  font-size: 20px;
  color: #fff;
}

.container {
  width: 950px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#background-game {
  width: 950px;
  height: 630px;
  background-image: url("/resources/imgs/fundo_game.jpg");
  border-color: #fff;
  border-style: solid;
}

#player {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url("/resources/imgs/apache.png");
}

#enemy1 {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url("/resources/imgs/inimigo1.png");
}

#enemy2 {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url("/resources/imgs/inimigo2.png");
}

#ally {
  width: 44px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 464px;
  background-image: url("/resources/imgs/amigo.png");
}

#start {
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  text-align: center;
  padding: 10px;
}

.animation-player {
  background-image: url("/resources/imgs/apache.png");
  animation: play 0.5s steps(2) infinite;
}

.animation-enemy {
  background-image: url("/resources/imgs/inimigo1.png");
  animation: play 0.5s steps(2) infinite;
}

.animation-ally {
  background-image: url("/resources/imgs/amigo.png");
  animation: play-ally 0.5s steps(12) infinite;
}

.animation-ally-dead {
  width: 44px;
  height: 51px;
  background-image: url("../resources/imgs/amigo_morte.png");
  animation: play-dead 0.5s steps(7) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@keyframes play-ally {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@keyframes play-dead {
  from {
    background-position: 0;
  }
  to {
    background-position: -308px;
  }
}

#shoot {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url("/resources/imgs/disparo.png");
}

#explosion {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosion2 {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosion3 {
  width: 44px;
  height: 51px;
  position: absolute;
}

#score {
  width: 450px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 580px;
  border: 2px solid #fff;
}

#energy {
  width: 140px;
  height: 30px;
  position: absolute;
  left: 750px;
  top: 7px;
}
